{% extends "base.html" %}
{% load account %}
{% load widget_tweaks %}
{% load static %}

{% block style %}
<link href="{% static 'css/form.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
<script src="{% static 'js/account_email.js' %}"></script>
{% endblock %}

{% block title %}Password Reset{% endblock %}

{% block body %}
<div class="container">

    {% if messages %}
    {% for message in messages %}
    <div {% if message.tags == 'success' %}class="success_msg" {% else %}class="error_msg" {% endif %}>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <div class="form_div_wrap">

        <h2 class="main_title">Password Reset</h2>

        <p class="empty_p">Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail
            allowing
            you to reset it.
        </p>

        <div class="form_div">
            <form method="POST" action="{% url 'account_reset_password' %}" class="form_source" id="email_form"
                novalidate>
                {% csrf_token %}

                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <div class="error_msg">
                    {{ error }}
                </div>
                {% endfor %}
                {% endif %}

                <div class="form-item form-email">
                    {% render_field form.email type="text" class="form-input" id="form-email" inputmode="email" required="true" placeholder="" %}
                    <label for="email" class="form-label" id="email-label">{{ form.email.label_tag }}</label>

                    <p class="error_msg" id="email-error-message"></p>
                    {% if form.email.errors %}
                    {% for error in form.email.errors %}
                    <p class="error_msg">{{ error }}</p>
                    {% endfor %}
                    {% endif %}
                </div>

                <p style="margin-top: 1rem;" class="error_msg" id="submit-error-message"></p>
                <div class="form-item form-btn">
                    <input type="submit" name="action_add" class="btn btn-l" id="form-submit" value="Reset My Password">
                </div>

            </form>
        </div>
        <p class="empty_p">Please contact us if you have any trouble resetting your password.</p>
    </div>
</div>
{% endblock %}