{% extends "base.html" %}
{% load static %}
{% load account %}

{% block title %}Password Reset{% endblock %}

{% block body %}
<div class="container">
    <h2 class="main_title">Password Reset</h2>

    {% if messages %}
    {% for message in messages %}
    <div {% if message.tags == 'success' %}class="success_msg" {% else %}class="error_msg" {% endif %}>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="empty_p">We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>
</div>
{% endblock %}