{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block style %}
<link href="{% static 'css/form.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
<script src="{% static 'js/account_password.js' %}"></script>
{% endblock %}


{% block title %}Change Password{% endblock %}

{% block body %}
<div class="container">

    {% if messages %}
    {% for message in messages %}
    <div {% if message.tags == 'success' %}class="success_msg" {% else %}class="error_msg" {% endif %}>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}

    <div class="form_div_wrap">

        <h2 class="main_title">Change Password</h2>

        <div class="form_div">
            <form method="POST" action="{% url 'account_change_password' %}" class="form_source" id="password_change"
                novalidate>
                {% csrf_token %}

                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <div class="error_msg">
                    {{ error }}
                </div>
                {% endfor %}
                {% endif %}

                <div class="form-item form-name">
                    {% render_field form.oldpassword class="form-input" id="form-pass" required="true" placeholder="" %}
                    <label for="name" class="form-label" id="name-label">{{ form.oldpassword.label_tag }}</label>

                    <p class="error_msg" id="pass-error-message"></p>
                    {% if form.oldpassword.errors %}
                    {% for error in form.oldpassword.errors %}
                    <p class="error_msg">{{ error }}</p>
                    {% endfor %}
                    {% endif %}
                </div>

                <div class="form-item form-name">
                    {% render_field form.password1 class="form-input" id="form-pass1" required="true" placeholder="" %}
                    <label for="name" class="form-label" id="name-label">{{ form.password1.label_tag }}</label>

                    <p class="error_msg" id="pass1-error-message"></p>
                    {% if form.password1.errors %}
                    {% for error in form.password1.errors %}
                    <p class="error_msg">{{ error }}</p>
                    {% endfor %}
                    {% endif %}
                </div>

                <div class="form-item form-name">
                    {% render_field form.password2 class="form-input" id="form-pass2" required="true" placeholder="" %}
                    <label for="name" class="form-label" id="name-label">{{ form.password2.label_tag }}</label>

                    <p class="error_msg" id="pass2-error-message"></p>
                    {% if form.password2.errors %}
                    {% for error in form.password2.errors %}
                    <p class="error_msg">{{ error }}</p>
                    {% endfor %}
                    {% endif %}
                </div>

                <p style="margin-top: 1rem;" class="error_msg" id="submit-error-message"></p>
                <div class="form-item form-btn">
                    <input type="submit" name="Submit" class="btn btn-l" id="form-submit" value="Change Password">
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}