{% extends "base.html" %}
{% load static %}

{% block style %}
<link href="{% static 'css/about.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}About Us{% endblock %}

{% block body %}

<div class="container">

    {% if messages %}
    {% for message in messages %}
    <div {% if message.tags == 'success' %}class="success_msg" {% else %}class="error_msg" {% endif %}>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}

    <h2 class="main_title">{{ about.about_title }}</h2>

    <div class="about_us_wrap">
        {{ about.about_us|safe }}
    </div>

</div>

{% endblock %}