{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block style %}
<link href="{% static 'css/product_listing.css' %}" rel="stylesheet">
<link href="{% static 'css/product_review.css' %}" rel="stylesheet">
<link href="{% static 'css/paginator.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
{% endblock %}

{% block title %}
{{ product.title }} - Reviews
{% endblock %}


{% block body %}

<div class="container" style="margin: 2rem auto">

    {% if messages %}
    {% for message in messages %}
    <div {% if message.tags == 'success' %}class="success_msg" {% else %}class="error_msg" {% endif %}>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}

    <div class="product_card">
        <div class="card_prod_img_div">
            <a href="{% url 'product_view' product.id product.slug product.sku %}">
                <img class="card_prod_img" src="{{ product.image.url }}" alt="{{ product.title }}">
            </a>
        </div>
        <div class="card_prod_detail">
            <div class="card_prod_title">
                <a href="{% url 'product_view' product.id product.slug product.sku %}">{{ product.title }}</a>
            </div>
            <div class="card_prod_price">
                {% if not product.discount_price %}
                <a href="{% url 'product_view' product.id product.slug product.sku %}">₹<span
                        class="main_price">{{ product.price|intcomma }}</span></a>
                {% else %}
                <a href="{% url 'product_view' product.id product.slug product.sku %}">₹<span
                        class="main_price">{{ product.discount_price|intcomma }}</span>
                    <del><span class="disc_price">₹{{ product.price|intcomma }}</span></del></a>
                {% endif %}
            </div>
            <div class="ratings_div">
                <div class="review_rating">
                    <a href="{% url 'product_view' product.id product.slug product.sku %}">
                        <i class="fa fa-star {% if product.average_rating < 0.5 %}star-black{% endif %}"></i>
                        <i class="fa fa-star {% if product.average_rating < 1.5 %}star-black{% endif %}"></i>
                        <i class="fa fa-star {% if product.average_rating < 2.5 %}star-black{% endif %}"></i>
                        <i class="fa fa-star {% if product.average_rating < 3.5 %}star-black{% endif %}"></i>
                        <i class="fa fa-star {% if product.average_rating < 4.5 %}star-black{% endif %}"></i>
                    </a>
                </div>
                <div class="ratings_rate">
                    <a
                        href="{% url 'product_view' product.id product.slug product.sku %}">{{ product.average_rating|floatformat:"-1" }}/5</a>
                </div>
                <div class="ratings_count">
                    <a href="{% url 'product_view' product.id product.slug product.sku %}">({{ product.count_review }}
                        Ratings)</a>
                </div>
            </div>
            <a {% if product.quantity_on_stock <= 0 %}
                {% else %}href="{% if request.user.is_authenticated %}{% url 'add_to_cart' product.id %}{% else %}{% url 'account_login' %}?next={{request.path}}{% endif %}"
                {% endif %} class="btn add-cart"><i class="fa fa-cart-plus"></i> Add to Cart</a>
        </div>
    </div>

    <!-- review begin -->

    <div id="reviews">
        <h3 class="main_title">Reviews
            ({% if product_reviews %}{{ product_reviews.paginator.count }}{% else %}0{% endif %})</h3>

        {% if product_reviews %}
        {% for review in product_reviews %}
        {% if review.status == "Show" %}
        <div class="container">
            <div class="review">
                <p class="review_user">{{ review.user.first_name }}
                    {{ review.user.last_name }}<span>{{ review.created_at|naturaltime }}</span></p>

                <div class="review_rating">
                    <i class="fa fa-star {% if review.rating < 1 %}star-black{% endif %}"></i>
                    <i class="fa fa-star {% if review.rating < 2 %}star-black{% endif %}"></i>
                    <i class="fa fa-star {% if review.rating < 3 %}star-black{% endif %}"></i>
                    <i class="fa fa-star {% if review.rating < 4 %}star-black{% endif %}"></i>
                    <i class="fa fa-star {% if review.rating < 5 %}star-black{% endif %}"></i>
                </div>

                {% if review.title %}
                <p class="review_title">{{ review.title }}</p>
                {% endif %}
                {% if review.review %}
                <p class="review_review">{{ review.review }}</p>
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% else %}
        <p class="empty_p">There is not any reviews yet...</p>
        {% endif %}
    </div>
    <!-- review finish-->

    {% if product_reviews.paginator.num_pages > 1 %}
    <div class="paginator_wrap">
        <div class="paginator">
            {% if product_reviews.has_previous %}
            <a class="link" href="?page=1">First</a>
            <a class="link" href="?page={{ product_reviews.previous_page_number }}">Prev</a>
            {% endif %}
            {% for num in product_reviews.paginator.page_range %} <br>
            {% if product_reviews.number == num %}
            <span class="link link_active">{{ num }}</span>
            {% elif num > product_reviews.number|add:'-3' and num < product_reviews.number|add:'3' %}
            <a class="link" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
            {% endfor %}
            {% if product_reviews.has_next %}
            <a class="link" href="?page={{ product_reviews.next_page_number }}">Next</a>
            <a class="link" href="?page={{ product_reviews.paginator.num_pages }}">Last</a>
            {% endif %}
        </div>
        <div class="empty_p">
            (Page {{ product_reviews.number }} of {{ product_reviews.paginator.num_pages }})
        </div>
    </div>
    {% endif %}

</div>

{% endblock %}