<!DOCTYPE html>
{% load static %}
{% load hometags %}
{% policy_list as policy_list %}
{% sm_list as smlist %}

<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <meta name="description" content="{% block description %}{% endblock %}">

    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap" rel="stylesheet">
    <link href="{% static 'assets/fonts/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/header.css' %}" rel="stylesheet">
    <link href="{% static 'css/footer.css' %}" rel="stylesheet">

    {% block style %}{% endblock %}


    <title>{% block title %}{% endblock %} | Kingdom Shop - Change The Leader</title>

</head>

<body>

    <header class="header" id="header">
        {% include "header.html" %}
    </header>

    {% block body %}
    {% endblock %}

    <footer class="footer" id="footer">
        {% include "footer.html" %}
    </footer>

</body>


<script src="{% static 'assets/jquery-3.5.1.min.js' %}"></script>

<script src="{% static 'js/header.js' %}"></script>

{% block script %}{% endblock %}

</html>
